.menu {
	padding-bottom: 5px;
	padding-top: 5px;
}

#navigation {
	width: auto;
}

#navigation ul {
	padding: 0px;
	float: left;
	margin-left: 5px;
}

#navigation li {
	list-style: none;
}

ul.top-level {
	background: #666;
}

ul.top-level li {
	border-bottom: #fff solid;
	border-top: #fff solid;
	border-width: 1px;
}

#navigation a {
	color: #fff;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
	text-decoration: none;
	width: 100%;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation li:hover {
	background: #f90;
	position: relative;
}

ul.sub-level {
	display: none;
}

li:hover .sub-level .sub-level {
	display: none;
}

.sub-level li:hover .sub-level {
	display: block;
}

li:hover .sub-level {
	background: #999;
	border: #fff solid;
	border-width: 1px;
	display: block;
	position: absolute;
	left: 0px;
	top: 5px;
}

ul.sub-level li {
	border: none;
	float: left;
	width: 150px;
}