@charset "UTF-8";
/* SAL Lawnet CSS Document */

.leftHolder {
	display:block;
	overflow:hidden;
	float:left;
	width:20%;
}
.rightHolder {
	display:block;
	overflow:hidden;
	float:left;
	width:78%;
	
}
.rightHolder h1,
.popupContent h1,
.fancybox-inner h1 {
	display:block;
	overflow:hidden;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:10px;
}
.rightHolder .topFilter {
	border:0;
	margin-left:0;
	margin-bottom:0px;
}
.rightHolder .topFilter li span {
	width:300px;
}
.rightHolder .filterSearchBar li {
	margin-bottom:0;
}

.bookmarkTable {
	font-size:13px;
	margin-bottom:20px;
}
.bookmarkTable th,
.bookmarkTable td {
	padding:5px 10px;
}
.bookmarkTable td a {
	color:#4C89C1;
}

.bookmarkTable .sortIconsHolder {
	width:auto;
	float:left;
}
.bookmarkTable .sortIconsHolder li {
	margin-right:2px;
}
.bookmarkTable .sortIconsHolder li.seperator {
	height:29px;
	background:url(../../images/credit-note-portlet/common/font_seperator.png) center center no-repeat;
}

.bookmarkTable .checkBoxHolder {
	padding:0 5px 0 0;
	margin-top:7px;
	margin-left:3px;
}

.bookmarkTable tr:hover {
	background:none;
}


.tableInfo {
	border:0;
	margin-bottom:10px;
}
.rightHolder .tableInfo p {
	line-height:30px;
	font-size:13px;
}
.tableInfo .registrationBtnHolder {
	margin-left:10px;
}

.registrationBtnHolder span, .submitBtnHolder p {
	font-size:13px;
}

.registrationTables, .contentDivider {
	border-bottom:0;
}

.popuContent .input label,
.popuContent > .resourcesRow span {
	font-size:14px;
}

.fancybox-inner .taxationForm td {
	vertical-align:top;
}
.fancybox-inner .taxationForm td label {
	line-height:30px;
}

