<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<mvc:annotation-driven enable-matrix-variables="true" />
	<mvc:annotation-driven validator="validator" />
	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled">
	</security:global-method-security>

	<mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/css/images/**" location="/css/images/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:default-servlet-handler/>
    <mvc:interceptors>
    	<bean class="com.xxooframe.web.interceptor.PortalInterceptor"/>
    </mvc:interceptors>
    
	<security:http pattern="/css/**" security="none"/>
	<security:http pattern="/css/images/**" security="none"/>
	<security:http pattern="/js/**" security="none"/>
	<security:http pattern="/images/**" security="none"/>
	<security:http pattern="/service/**" security="none"/>
	<security:http pattern="/ws/**" security="none"/>
	<security:http pattern="/login" security="none"/>
	<security:http pattern="/index.jsp" security="none"/>
    <security:http auto-config="true" use-expressions="true">
   		<security:intercept-url pattern="/home" access="hasAnyRole('SYSTEM','ADMIN','USER')" />
   		<security:intercept-url pattern="/changePassword" access="hasAnyRole('SYSTEM','ADMIN','USER')" />
    	<security:intercept-url pattern="/**" access="hasAnyRole('SYSTEM','ADMIN')" />
    	
    	<security:form-login login-page="/login" login-processing-url="/j_spring_security_check" default-target-url="/admin" authentication-failure-url="/login?error=true" username-parameter="j_username" password-parameter="j_password" always-use-default-target="true"/>
    	<security:logout delete-cookies="JSESSIONID" invalidate-session="true"/>
    	<security:csrf disabled="true"/>
    	<security:http-basic/>
    	<security:session-management invalid-session-url="/login?error=invalid" session-authentication-error-url="/login?error=invalid">
    		<security:concurrency-control max-sessions="1" expired-url="/login?expire=true" error-if-maximum-exceeded="true"/>
    	</security:session-management>
    	<security:access-denied-handler error-page="/500.jsp"/>
    </security:http>
	
	<security:authentication-manager alias="">
		<security:authentication-provider user-service-ref="userService">
			<security:password-encoder ref="passwordEncoder" />
			<!-- <security:user-service> <security:user name="Administrator" password="" authorities="ROLE_Administrator" locked="false"/> </security:user-service> -->
		</security:authentication-provider>
	</security:authentication-manager>
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="12" />
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
	    <property name="basename" value="views"/>
	    <property name="order" value="1" />
	</bean>
	
	<bean id="urlViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
	    <property name="order" value="2" />
	</bean>
	
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
	    <property name="definitions">
	        <list>
	            <value>classpath:tiles.xml</value>
	        </list>
	    </property>
	    <property name="preparerFactoryClass" value="org.springframework.web.servlet.view.tiles3.SpringBeanPreparerFactory"/>	    
	</bean>

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">  
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>  
    </bean>	
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="defaultEncoding" value="UTF-8"/>
	    <property name="maxUploadSize" value="52428800"/>
	</bean>
</beans>